body {
  font-family: Arial, sans-serif;
  background-color: #151515;
  color: white;
  margin: 0;
  padding: 4rem;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.gallery-item img {
  max-width: 25rem;
  width: 100%;
}
.gallery-item video {
  max-width: 25rem;
  width: 100%;
}
.gallery-item .video-container {
  margin-top: 2rem;
}

@media (max-width: 950px) {
  body {
    padding: 2rem;
  }

  .gallery-item img {
    max-width: 100%;
  }
}
